@page "/{Country}/Authority/Edit/{Id}"


@if (authority is null)
{
    <p><em>Loading...</em></p>
}
else
{
<EditForm Model="@authority" OnValidSubmit="@UpdateAuthority" @onreset="@Cancel">
    <DataAnnotationsValidator />

    <CustomInputSelect @bind-value="@InstitutionId" labelName="Institution Name" items="@institutions"></CustomInputSelect>

    <CustomInputSelect @bind-value="@IPTypeId" labelName="Investigational Product Type" items="@investigationalProductTypes"></CustomInputSelect>

    <CustomInputSelect @bind-value="@InstitutionTypeId" labelName="Institution Type" items="@institutionTypes"></CustomInputSelect>

    <ButtonComponent buttonText="Create" buttonType="sumbmit" buttonStyle="primary"></ButtonComponent>

    <ButtonComponent buttonText="Cancel" buttonType="reset" buttonStyle="danger"></ButtonComponent>

    <ValidationSummary></ValidationSummary>

</EditForm>
    }

@code {
    //TODO ADD VALIDATION ON INSTITUTION THAT IPTYPE AND INSTITUTIONTYPE CAN'T BE THE SAME
    [Parameter]
    public string Country { get; set; }
    [Parameter]
    public string Id { get; set; }
    [Inject]
    IAuthorityRepository authorityRepository { get; set; }
    [Inject]
    NavigationManager NavigationManager { get; set; }
    [Inject]
    IClassifierRepository<InvestigationalProductType> IPTypeRepository { get; set; }
    [Inject]
    IClassifierRepository<InstitutionType> institutionTypeRepository { get; set; }
    [Inject]
    IInstitutionRepository institutionRepository { get; set; }
    [Inject]
    IValidator<Authority> authorityValidator { get; set; }

    public List<Institution> institutions { get; set; }
    public List<InvestigationalProductType> investigationalProductTypes { get; set; }
    public List<InstitutionType> institutionTypes { get; set; }

    public int InstitutionId
    {
        get
        {
            if (authority.Institution != null)
            {
                return authority.Institution.Id;
            }
            return 0;
        }
        set => authority.Institution = institutions.Single(c => c.Id == value);
    }
    public int IPTypeId
    {
        get
        {
            if (authority.InvestigationalProductType != null)
            {
                return authority.InvestigationalProductType.Id;
            }
            return 0;
        }
        set => authority.InvestigationalProductType = investigationalProductTypes.Single(c => c.Id == value);
    }
    public int InstitutionTypeId
    {
        get
        {
            if (authority.InstitutionType != null)
            {
                return authority.InstitutionType.Id;
            }
            return 0;
        }
        set => authority.InstitutionType = institutionTypes.Single(c => c.Id == value);
    }

    public Authority authority { get; set; }

    protected override async Task OnInitializedAsync()
    {
        authority = await Task.Run(() => authorityRepository.GetById(Convert.ToInt32(Id)));
        institutions = await Task.Run(() => institutionRepository.GetByCountry(Country));
        investigationalProductTypes = await Task.Run(() => IPTypeRepository.GetAll());
        institutionTypes = await Task.Run(() => institutionTypeRepository.GetAll());
    }

    protected async void UpdateAuthority() //TODO END THIS METHOD
    {
        if (authorityValidator.Validate(authority))
        {
            await authorityRepository.Update(authority);
            NavigationManager.NavigateTo($"/{Country}/Authorities/Index");
        }
    }

    private void Cancel()
    {
        NavigationManager.NavigateTo($"{Country}/Authorities/Index");
    }
}
