@using System.Linq.Expressions   

<div class="form-group row">
    <label class="col-sm-2 col-form-label">@Label</label>
    <div class="col-sm-10">
        <InputText Class="form-control" Value="@Value" ValueChanged="@ValueChanged" ValueExpression="@ValueExpression"></InputText>
        <ValidationMessage For="@ValueExpression" />
        </div>
    </div>

    @functions{
        [Parameter] public string Label { get; set; }
        [Parameter] public string Value { get; set; }
        [Parameter] public EventCallback<string> ValueChanged { get; set; }
        [Parameter] public Expression<Func<string>> ValueExpression { get; set; }
    }
